@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

:root {
  font-family: Poppins, sans-serif;
}

body {
  background-color: #172740;
  user-select: none ;
}
